@import "../index.css";

.day-10 {
    background: #4C4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.clock-face {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 7px solid #3A3A3A;
}

.dotted-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 3px dotted white;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    .time {
        font-size: 34px;
        line-height: 34px;
        font-weight: 700;
    }
}

.other-info  {
    display: flex;
    gap: 10px;
    div {
        display: flex;
        gap: 6px;
        justify-content: center;
        align-items: center;
    }
}

.heart {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #EE595A;
    transform: rotate(45deg);
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    &::before {
        position: absolute;
        content: '';
        bottom: 5px;
        left: 0;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #EE595A;
    }
    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 5px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #EE595A;
    }
}

.spinner {
    width: 200px;
    height: 200px;  
    position: absolute;
    circle {
        stroke: #EE595A;
        stroke-width: 3px;
        fill: none;
        stroke-dasharray: 625;
        animation: spinner 2s linear infinite;
        transform-origin: center center;
        transform: rotate(-90deg);
    }
}

@keyframes pulse {
    0% {
        transition: scale(1) rotate(45deg);
    }

    50% {
        transform: scale(1.2) rotate(45deg);
    }

    100% {
        transition: scale(1) rotate(45deg);
    }
}

@keyframes spinner {
    from {
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(1);
    }

    50% {
        stroke-dashoffset: 0;
        transform: rotate(-90deg) scaleY(1);
    }

    50.001% {
        transform: rotate(-90deg) scaleY(-1);
    }

    to {
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(-1);
    }
}