@import "../index.css";

.day-9 {
    // grid-area: 1;
}

.rainy-night-wrapper {
    position: relative;
    overflow: hidden;
    background: #1A2238;
    width: 100%;
    height: 80%;
}

.moon {
    position: absolute;
    overflow: hidden;
    top: 50px;
    left: 50px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background: #F6EDBD;
    box-shadow: 0 0 10px 0 #F6EDBD;
}

[class^="crater"] {
    background: #ECE1A8;
    border-radius: 50%;
}

.crater-1,
.crater-2,
.crater-3 {
    position: absolute;
    width: 12px;
    height: 12px;
}

.crater-1 {
    top: 30px;
    left: -2px;
}

.crater-2 {
    top: 8px;
    right: 20px;
}

.crater-3 {
    top: 45px;
    right: 14px;
}

.crater-4,
.crater-5,
.crater-6,
.crater-7,
.crater-8 {
    position: absolute;
    width: 8px;
    height: 8px;
}

.crater-4 {
    bottom: 15px;
    left: 15px;
}

.crater-5 {
    top: 30px;
    left: 20px;
}

.crater-6 {
    top: 28px;
    right: 12px;
}

.crater-7 {
    top: 5px;
    left: 10px;
}

.crater-8 {
    bottom: -2px;
    left: 26px;
}

.crater-9,
.crater-10 {
    position: absolute;
    width: 4px;
    height: 4px;
}

.crater-9 {
    bottom: 30px;
    right: 25px;
}

.crater-10 {
    top: 16px;
    left: 25px;
}

.land-back-hill-1 {
    position: absolute;
    width: 380px;
    height: 250px;
    background: #26314F;
    border-radius: 50%;
    bottom: -150px;
    left: -80px;
}

.land-back-hill-2 {
    position: absolute;
    width: 350px;
    height: 250px;
    background: #26314F;
    border-radius: 50%;
    bottom: -150px;
    right: -120px;
}

.land-front-hill-1 {
    position: absolute;
    width: 350px;
    height: 220px;
    border-radius: 50%;
    bottom: -150px;
    left: -200px;
    background: #303C5D;
}

.land-front-hill-2 {
    position: absolute;
    width: 300px;
    height: 220px;
    border-radius: 50%;
    bottom: -140px;
    left: 80px;
    background: #303C5D;
}

.land-front-hill-3 {
    position: absolute;
    width: 350px;
    height: 220px;
    border-radius: 50%;
    bottom: -150px;
    right: -250px;
    background: #303C5D;
}

.weather-info {
    height: 20%;
    color: #394568;
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 0.2px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-today {
    display: flex;
    align-items: center;
    gap: 16px;
}

.weather-today>div:first-child {
    font-size: 45px;
    line-height: 90px;
}

.forecast {
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.forecast>span:first-child {
    width: 33%;
    text-align: right;
}

.forecast>span:last-child {
    font-weight: 400;
}

.rain {
    position: relative;
    height: 100%;
}

@for $i from 1 through 10 {

    .drop-l-#{$i} {
        position: absolute;
        z-index: 20;
        left: (-20 + 38 * $i) + px;
        bottom: 0px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #7FC1F9;
        animation: drop (0.7 + random(2) / 10) + s linear (random(50) / 25) + s infinite;
        animation-fill-mode: both;
        transform-origin: 50% 100%;

        &:before {
            position: absolute;
            content: '';
            display: block;
            top: -2px;
            left: 1px;
            width: 6px;
            height: 6px;
            background: #7FC1F9;
            border-radius: 3px;
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            top: -5px;
            left: 2px;
            width: 4px;
            height: 10px;
            background: #7FC1F9;
            border-radius: 50%;
        }

    }

    .drop-m-#{$i} {
        @extend .drop-l-1;
        left: (-20 + 38 * $i) + px;
        opacity: 0.6;
        width: 6px;
        height: 6px;
        animation: drop (1.3 + random(2) / 10) + s linear (random(50) / 25) + s infinite;
        animation-fill-mode: both;

        &:before {
            top: -2px;
            left: 1px;
            width: 4px;
            height: 4px;
        }

        &:after {
            top: -4px;
            left: 2px;
            width: 2px;
            height: 6px;
        }

    }

    .drop-s-#{$i} {
        @extend .drop-l-1;
        left: (-20 + 38 * $i) + px;
        opacity: 0.3;
        width: 4px;
        height: 4px;
        animation: drop (1.9 + random(2) / 10) + s linear (random(50) / 25) + s infinite;
        animation-fill-mode: both;

        &:before {
            top: -2px;
            left: 1px;
            width: 2px;
            height: 2px;
        }

        &:after {
            top: -3px;
            left: 1px;
            width: 2px;
            height: 4px;
        }

    }

}

@keyframes drop {
    0% {
        transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
    }

    85% {
        transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
    }

    100% {
        transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
    }
}


// [class^="drop-l"] {
//     position: absolute;
//     z-index: 20;
//     bottom: 90px;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background: #7FC1F9;
//     animation: rain-drops (0.7 + random(2) / 10)+s linear (random(50) / 25)+s infinite;
//     animation-fill-mode: both;
//     transform-origin: 50% 100%;
// }

// [class^="drop-l"]:before {
//     position: absolute;
//     content: '';
//     display: block;
//     top: -2px;
//     left: 1px;
//     width: 6px;
//     height: 6px;
//     background: #7FC1F9;
//     border-radius: 3px;
// }

// [class^="drop-l"]:after {
//     position: absolute;
//     content: '';
//     display: block;
//     top: -5px;
//     left: 2px;
//     width: 4px;
//     height: 10px;
//     background: #7FC1F9;
//     border-radius: 50%;
// }

// .drop-l-1 {
//     left: 18px;
   
// }

// .drop-l-2 {
//     left: 56px;
    
// }

// .drop-l-3 {
//     left: 94px;
// }

// .drop-l-4 {
//     left: 132px;
  
// }

// .drop-l-5 {
//     left: 170px;
  
// }

// .drop-l-6 {
//     left: 208px;
//     // top: 300px;
// }

// .drop-l-7 {
//     left: 246px;

// }

// .drop-l-8 {
//     left: 284px;

// }

// .drop-l-9 {
//     left: 322px;
    
// }

// .drop-l-10 {
//     left: 360px;
   
// }

// [class^="drop-m"] {
//     background: #5781AC;
//     position: absolute;
//     z-index: 19;
//     left: 130px;
//     bottom: 0px;
//     width: 6px;
//     height: 6px;
//     border-radius: 50%;
//     /* animation: rain-drops 2s ease-in infinite; */
//     animation-fill-mode: both;
//     transform-origin: 50% 100%;
// }

// [class^="drop-m"]:before {
//     position: absolute;
//     content: '';
//     display: block;
//     top: -2px;
//     left: 1px;
//     width: 4px;
//     height: 4px;
//     background: #5781AC;
//     border-radius: 3px;
// }

// [class^="drop-m"]:after {
//     position: absolute;
//     content: '';
//     display: block;
//     top: -3px;
//     left: 2px;
//     width: 2px;
//     height: 6px;
//     background: #5781AC;
//     border-radius: 50%;
// }

// .drop-m-1 {
//     left: 160px;
//     bottom: 10px;
// }

// .drop-m-2 {
//     left: 250px;
//     bottom: 30px;
// }

// .drop-m-3 {
//     right: 20px;
//     bottom: 50px;

// }

// .drop-m-4 {
//     left: 10px;
// }

// .drop-m-5 {
//     right: 5px;
// }

// .drop-m-6 {
//     left: 300px;
// }

// .drop-m-7 {
//     left: 210px;
// }

// .drop-m-8 {
//     left: 210px;
//     bottom: 100px;
// }

// .drop-m-9 {
//     left: 210px;
//     bottom: 100px;
// }

// .drop-m-10 {
//     left: 210px;
//     bottom: 100px;
// }



// [class^="drop-s"] {
//     background: #395272;
//     position: absolute;
//     z-index: 19;
//     left: 160px;
//     bottom: 0px;
//     width: 4px;
//     height: 4px;
//     border-radius: 50%;
//     opacity: 0.3;
//     /* animation: rain-drops 2s ease-in infinite; */
//     animation-fill-mode: both;
//     transform-origin: 50% 100%;
// }

// [class^="drop-s"]:before {
//     position: absolute;
//     content: '';
//     display: block;
//     top: -2px;
//     left: 1px;
//     width: 2px;
//     height: 2px;
//     background: #395272;
//     border-radius: 3px;
// }

// [class^="drop-s"]:after {
//     position: absolute;
//     content: '';
//     display: block;
//     top: -3px;
//     left: 1px;
//     width: 2px;
//     height: 4px;
//     background: #395272;
//     border-radius: 50%;
// }

// .drop-s-1 {
//     left: 160px;
   
// }

// .drop-s-2 {
//     left: 250px;
    
// }

// .drop-s-3 {
//     right: 20px;
  

// }

// .drop-s-4 {
//     left: 10px;
// }

// .drop-s-5 {
//     right: 5px;
// }

// .drop-s-6 {
//     left: 300px;
// }

// .drop-s-7 {
//     left: 210px;
// }

// .drop-s-8 {
//     left: 210px;
   
// }

// .drop-s-9 {
//     left: 210px;
  
// }

// .drop-s-10 {
//     left: 210px;
   
// }

// @keyframes rain-drops {
//     0% {
//         transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
//     }

//     85% {
//         transform: translateY(0) scaleX(1) scaleY(1) rotate(17deg);
//     }

//     100% {
//         transform: translateY(0) scaleX(3) scaleY(0) rotate(0deg);
//     }
// }